@CHARSET "ISO-8859-1";

.navbar-header button {
	color: #fff;
}

.fullscreen {
	width: 100%;
}

main {
	padding-top: 80px;
	padding-bottom: 80px;
}

footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0px;
}

.tab-pane {
	padding: 10px 5px;
}


/* =============================================================================== */
/* compoments */
.aw-required > .control-label:after {
	content: "*";
}

.aw-search-area {
	padding-top: 15px;
	padding-bottom: 15px;
}

.aw-search-element {
	padding: 7px;
}

 .my-group .form-control{
    width:50%;
}
/*
.aw-t label {
	font-weight: normal !important;
}
*/

